    section {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    article{
        padding: 5px;
        background-color: blanchedalmond;
    }

    #art1{
        grid-column: 1/4;
    }