div.sales{
    margin: 1em auto auto auto;
}
div.card{
    width: 95%;
    padding: 1em;
    margin: 1.5em auto 1.5em 1em;
    background:#f0f0f0;
    border-radius: 16px;
    transition: transform 400ms;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.card:hover{
    text-decoration: none;
    transform: scale(1.03);
    cursor: pointer;
}
img.sales-image{
    width: 90%;
    border-radius: 8px;
    grid-column: 1/2;
    padding: 10px;
}
.text-div{
    grid-column: 2/3;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
}
p.card-text{
    grid-column: 2/3;
}